<!-- start footer -->
<div><br class="clear" /></div>
<div id="footer">
    <div class="wrap">
        <div id="fbox1" class="box2">
            <h4><b>Правила</b> копирования</h4>
            <p>Меня зовут Алексей Скульский, адрес моего сайта {{ .Site.BaseURL }}, и&nbsp;я&nbsp;надеюсь увидеть эту информацию на скопированном без изменений тексте. Забывая копирайты, исправляя или&nbsp;продавая материалы сайта, вы&nbsp;унижаете себя и&nbsp;нарушаете закон.</p>
        </div>
        <div id="fbox2" class="box2">
            <h4><b>Интересные</b> места</h4>
            <ul>
                <li><a href="http://ooods.ru/"> Продюсерский центр &laquo;Деловое сотрудничество&raquo;</a></li>
            </ul>
        </div>
        <div id="fbox3" class="box2">
            <h4><b>&nbsp;</b> </h4>
            <ul>
                <li>
                    <a href="http://validator.w3.org/check?uri=referer" title="Правильный XHTML 1.0 Strict" class="valid_xhtml"></a>
                </li>
                <li>
                    <a href="http://jigsaw.w3.org/css-validator/check/referer" title="Правильный CSS" class="valid_css"></a>
                </li>
                <li class="li_counter">
                    <!--LiveInternet counter-->
                    <script type="text/javascript">
                        <!--
                        document.write("<a href='http://www.liveinternet.ru/click' " +
                                "target=_blank><img src='/http://counter.yadro.ru/hit?t21.6;r" +
                                escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
                                    ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                                        screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
                                ";" + Math.random() +
                                "' alt='' title='LiveInternet: показано число просмотров за 24" +
                                " часа, посетителей за 24 часа и за сегодня' " +
                                "border='0' width='88' height='31'><\/a>")
                            //-->
                    </script>
                    <!--/LiveInternet-->
                </li>
            </ul>
        </div>
    </div>

    <p id="legal">&copy;&nbsp;Алексей Скульский. Дизайн и&copy;программирование&nbsp;&mdash; <a href="http://cocteau.name" title="Алексей Сальников — вебдизайн и программирование">Алексей Сальников</a>.</p>
</div>
<!-- end footer -->

</body>

</html>
