<!-- start footer -->
		<footer>
		<div class="footer-content">
		<div class="mdl-mini-footer">
		<div class="mdl-mini-footer__left-section">
<h4><b>Правила</b> копирования</h4>
<p>Меня зовут Алексей Скульский, адрес моего сайта {{ .Site.BaseURL }}, и&nbsp;я&nbsp;надеюсь увидеть эту информацию на скопированном без изменений тексте. Забывая копирайты, исправляя или&nbsp;продавая материалы сайта, вы&nbsp;унижаете себя и&nbsp;нарушаете закон.</p>
        </div>
		<div class="mdl-mini-footer__right-section">
<h4><b>Интересные</b> места</h4>
<ul>
	<li><a href="http://ooods.ru/"> Продюсерский центр &laquo;Деловое сотрудничество&raquo;</a></li>
</ul>
        </div>
        </div>
<p>&copy;&nbsp;Алексей Скульский. Дизайн и&copy;программирование&nbsp;&mdash; <a href="http://cocteau.name" title="Алексей Сальников — вебдизайн и программирование">Алексей Сальников</a>.</p>
              
		</div>
		</footer>
<!-- end footer -->
