
<!-- start sidebar -->
{{ $pages :=.Site.Pages }}
{{ if gt (len $pages) 0 }}

{{ $blog := first 10 (where $pages "Section" "blog") }}
{{ $stories := first 10 (where $pages "Section" "stories") }}
    <div id="sidebar">
        <ul>
            <li id="sideblog">
                <h3><b>Блог.</b> Недавнее</h3>
                <ul>
{{ range $blog  }}{{ .Render "li"}}{{ end }}
                </ul>
            </li>
            <li id="sidestories">
                <h3><b>Рассказы.</b> Новые</h3>
                {{ if gt (len $stories) 0 }}
                <ul>
{{ range $stories }}{{ .Render "li"}}{{ end }}
                </ul>

                <p><br /><a href="/stories"><em>Все рассказы списком</em></a></p>
                {{ end }}

            </li>
        </ul>
    </div>
{{end}}
<!-- end sidebar -->
