<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }}</title>
	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ .Site.Params.about }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="canonical" href="{{ .Permalink }}">
    {{ partial "head_includes.html" . }}
</head>
{{partial "body_before.html" . }}

        <p>
{{ .Site.Params.about }}
        </p>
        
{{ if gt (len (where .Site.Pages "Section" "blog")) 0 }}
<hr style="margin-bottom: 4em; border: 0 !important" />
<div>
	<h2>Недавние записи блога</h2>
	{{ range first 3 (where .Site.Pages "Section" "blog") }}
	{{ .Render "summary"}}
	{{ end }}
</div>
{{ end }}

{{ if gt (len (where .Site.Pages "Section" "stories")) 0 }}
<hr style="margin-bottom: 4em; border: 0 !important" />
<div>
	<h2>Недавние рассказы</h2>
	{{ range first 3 (where .Site.Pages "Section" "stories") }}
	{{ .Render "summary"}}
	{{ end }}
</div>
{{ end }}

{{ partial "body_after.html" . }}