*, html, body {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	background: #fff;
	font-family: "Calibri", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	width: 1000px;
	margin: 0 auto;
	line-height: 20px;
	position: relative;
}
h1, h2, h3, h4 {
	margin: 0;
	text-transform: none;
	font-weight: normal;
	color: #3E3E3E;
}
h1 {
	font-size: 34px;
	line-height: 40px;
}
h2 {
	font-size: 24px;
	line-height: 40px;
}

h3 {
	font-size: 20px;
	line-height: 40px;
}

h4 {
	font-size: 16px;
	line-height: 20px;
}

p, ul, ol {
	margin: 0 0 20px 0;
	text-align: justify;
	line-height: 20px;
	font-size: 15px;
}

a, a:link, a:visited {
	color: #999;
	font-size: 16px;
	line-height: 20px;
	text-decoration: underline;
}

a:hover, a:active {
	text-decoration: none;
	border: 0;
	color: #999;
}

img {
	border: none;
}

img.left {
	float: left;
	margin-right: 15px;
}

img.right {
	float: right;
	margin-left: 15px;
}

blockquote {
	margin: 20px 0 20px 100px;
	padding-left: 20px;
	border-left: 2px solid #ccc;
	font-style: italic;
}

.remark {
	font-size: 12px;
}

/* Header */

#header {
	position: absolute;
	top: 0;
	left: 0;
	height: 200px;
	width: 100%;
	margin: 0 auto 60px;
	background: #fff url(./images/img01.jpg) top right no-repeat;
}

#header h2 {
	display: block;
	width: 40%;
	line-height: 20px;
}

#header h1 a,
#header h1 a:visited,
#header h1 a:hover {
	color: #3E3E3E;
	font-size: 34px;
}

/* Container */

#container {
	height: auto !important;
	height: 101%;
	min-height: 101%;
	position: relative;
	margin-bottom: -200px; /* -footer height */
}

/* Menu */

#menu {
	float: left;
	width: 100%;
	margin: 40px 0 0;
}

#menu ul {
	padding: 15px 0 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: inline;
	margin: 0 5px;
	padding: 0 10px 5px;
	text-decoration: none;
	border: 0;
	font-size: 16px;
	color: #000000;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .active a {
	background: url(./images/img03.gif) repeat-x left bottom;
}

#menu .active a:hover {
	text-decoration: none;
}

/* Content */

#content {
	padding-top: 200px;
	padding-bottom: 0px;
	float: left;
	width: 680px;
}

#content h2 {
	line-height: 20px;
	margin-bottom: 40px;
}

/* Sidebar */

#sidebar {
	padding-top: 190px;
	padding-bottom: 0px;
	float: right;
	width: 300px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 40px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
}

#sidebar h2,
#sidebar h3 {
	margin-bottom: 20px;
	background: url(./images/img03.gif) repeat-x left bottom;
	font-size: 16px;
}

#sidebar  a,
#sidebar a:visited {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Footer */

#footer {
	height: 200px;
	width: 100%;
	margin: 0 auto;
	background: #380501 url(./images/img02.jpg) 50% 0 no-repeat;
	color: #fff;
}

#footer h2,
#footer h3,
#footer h4,
#footer a {
	color: #ccc;
}

#footer .wrap {
	width: 850px;
	margin: 0 auto;
}

#legal {
	clear: both;
	padding-top: 20px;
	text-align: center;
	color: #375c69;
}

#legal a {
	color: #375c69;
}

#fbox1 {
	float: left;
	width: 280px;
}

#fbox2 {
	float: left;
	width: 265px;
	padding-left: 40px;
}

#fbox3 {
	float: left;
	width: 200px;
	padding-left: 40px;
}

.valid_xhtml {
	display: block;
	width: 88px;
	height: 31px;
	background: transparent url(./images/w3-xhtml.png) 0 0 no-repeat;
	margin-bottom: 20px;
}
.valid_css {
	display: block;
	width: 88px;
	height: 31px;
	background: transparent url(./images/w3-css.png) 0 0 no-repeat;
	margin-bottom: 20px;
}

/* Form */

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

input, textarea, select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

/* Post */

.post {
}

.post .title {
	margin-bottom: 20px;
	padding-bottom: 5px;
}

.post .entry {
}

.post .meta {
	padding: 15px 0 60px 0;
	background: url(./images/img03.gif) repeat-x;
}

.post .meta p {
	margin: 0;
	line-height: normal;
	color: #999999;
}

.post .meta .byline {
	display: inline;
}

.post .meta .links {
	display: inline;
}

.post .meta .more {
	padding: 0 20px 0 16px;
	background: url(./images/img06.gif) no-repeat left center;
}

.post .meta .comments {
	padding: 0 20px 0 20px;
	background: url(./images/img07.gif) no-repeat left center;
}

.post .meta b {
	display: none;
}

/* Search */

#search {
}

#search h2,
#search h3 {
	margin-bottom: 20px;
}
#ajaxSearch_input,
#s {
	width: 230px;
	margin-right: 5px;
	padding: 3px;
	border: 1px solid #F0F0F0;
}
#ajaxSearch_submit,
#x {
	padding: 5px;
	background: #ECECEC url(./images/img08.gif) repeat-x left bottom;
	border: none;
	text-transform: lowercase;
	font-size: 12px;
	color: #4F4F4F;
}
.ajaxSearch_resultDescription {
	display: none;
}
.ajaxSearch_highlight {
	background: #e3d9ab;
}
/* Boxes */

.box1 {
	padding: 20px;
	background: url(./images/img05.gif) no-repeat;
}

.box2 {
	color: #BABABA;
}

.box2 p,
.box2 li,
.box2 a,
.box2 a:visited,
.box2 a:hover {
	font-size: 12px;
	line-height: 15px;
	margin: 0;
}

.box2 h4 {
	margin-bottom: 15px;
	margin-top: 15px;
	background: url(./images/img10.gif) repeat-x left bottom;
	font-size: 16px;
	color: #d99;
}

.box2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
	color: #EDEDED;
}

/* Article and pagination */
.article h3 a,
.article h3 a:hover,
.article h3 a:visited {
	font-size: 20px;
	line-height: 40px;
	color: #666;
}
.h3_date {font-size: 14px; color: #999;}
#pagination {
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

/* Custom fixes */

.clear {
	clear: both;
	height: 1px;
}
.nowrap {
	white-space:nowrap;
}
/* Video flv */
.flv_video {
	display: block;
	width: 680px;
	height: 480px;
	text-align: center;
	background: #dfdfdf;
}

/* Rhymes */
.rhyme,
.rhyme2 {
	text-indent:0 !important;
	margin:0 0 .3em !important;
	clear:both;
}
.rhyme2 {
	text-indent: 70px;
}
.rhyme img,
.rhyme2 img {
	float:left;
	margin-right:10px;
}

/* time */
#date {
	text-align: right;
	font-weight: 400;
	font-style: italic;
}
