{{ partial "head.html" . }}

{{partial "body_before.html" . }}

  <!-- Show summary of all posts in a category -->
    <div class="container content">
      <h1 class="post-title">Недавние записи</h1>
        <section id="main">
          <div>
            <h5><a href="/categories">Категории</a></h5>
            <h2>Записи в &ldquo;{{ .Title }}&rdquo;</h2>
            {{ range .Data.Pages }}
            {{ .Render "summary"}}
            {{ end }}
          </div>
        </section>

    </div>
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>

{{ partial "body_after.html" . }}
